/* One */
.credentials .one{
    display: flex;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.credentials .one .title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-left: 2%;
}

.credentials .one .title p1 {
    font-family: Amsterdam;
    text-align: center;
    font-size: 40px;
}

.credentials .one .title p2 {
    font-family: Valorant;
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
}

.credentials .one .content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-right: 2%;
}

.credentials .one .content p {
    font-family: Lexend;
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
}

/* Two */

.credentials .two{
    display: flex;
    flex-direction: row-reverse;
    width: 96%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    margin: 0% 2%;
}

.credentials .two .title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.credentials .two .title p1 {
    font-family: Amsterdam;
    text-align: center;
    font-size: 40px;
}

.credentials .two .title p2 {
    font-family: Valorant;
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
}

.credentials .two .content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
}

.credentials .two .content p {
    font-family: Lexend;
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
}

/* Three */

.credentials .three{
    display: flex;
    flex-direction: column;
    width: 96%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin: 0% 2%;
}

.credentials .three .first, 
.credentials .three .second, 
.credentials .three .third,
.credentials .three .fourth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.credentials .three .first .strip,
.credentials .three .second .strip,
.credentials .three .third .strip,
.credentials .three .fourth .strip  {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.credentials .three .first .button-container,
.credentials .three .second .button-container,
.credentials .three .third .button-container, 
.credentials .three .fourth .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.credentials .three .first .button-container a, 
.credentials .three .second .button-container a, 
.credentials .three .third .button-container a, 
.credentials .three .fourth .button-container a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: Lexend;
    font-size: 16px;
    color: #FFFFFF;
    background: #171717;
}

.credentials .three .first .strip .container, 
.credentials .three .second .strip .container,
.credentials .three .third .strip .container,
.credentials .three .fourth .strip .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.credentials .three .first .strip .container img, 
.credentials .three .second .strip .container img,
.credentials .three .third .strip .container img,
.credentials .three .fourth .strip .container img {
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.credentials .three .first .strip .container p,
.credentials .three .second .strip .container p,
.credentials .three .third .strip .container p,
.credentials .three .fourth .strip .container p {
    font-family: Lexend;
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.credentials .three .second,
.credentials .three .third,
.credentials .three .fourth {
    display:none;
} 

/* Four */

.credentials .four { 
    display: flex;
    width: 100%;
    padding-top: 40px;
    justify-content: center;
    align-items: center;
}

.credentials .four .title {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-left: 2%;
}

.credentials .four .title p1 {
    font-family: Amsterdam;
    text-align: center;
    font-size: 40px;
}

.credentials .four .title p2 {
    font-family: Valorant;
    font-size: 40px;
    text-align: center;
    margin-top: -20px;
}

.credentials .four .content{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    margin-right: 2%;
}

.credentials .four .content p {
    font-family: Lexend;
    width: 80%;
    text-align: justify;
    font-size: 16px;
    margin-top: 20px;
}

/* Five*/

.credentials .five{
    display: flex;
    flex-direction: column;
    width: 96%;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
    margin: 0% 2%;
}

.credentials .five .fifth, 
.credentials .five .sixth {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.credentials .five .fifth .strip,
.credentials .five .sixth .strip {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.credentials .five .fifth .button-container,
.credentials .five .sixth .button-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.credentials .five .fifth .button-container a, 
.credentials .five .sixth .button-container a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: Lexend;
    font-size: 16px;
    color: #FFFFFF;
    background: #171717;
}

.credentials .five .fifth  .strip .container, 
.credentials .five .sixth .strip .container {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.credentials .five .fifth  .strip .container img, 
.credentials .five .sixth .strip .container img {
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.credentials .five .fifth .strip .container p,
.credentials .five .sixth .strip .container p {
    font-family: Lexend;
    width: 80%;
    text-align: center;
    font-size: 16px;
    margin-top: 5px;
}

.credentials .five .sixth {
    display:none;
} 

/* Responsive */
    @media screen and (max-width: 800px) {
        .credentials .one, .credentials .two, .credentials .four {
            flex-direction: column;
        }

        .credentials .one .title, .credentials .one .content,
        .credentials .two .title, .credentials .two .content,
        .credentials .four .title, .credentials .four .content  {
            width: 96%;
        }

        .credentials .one .title p1, .credentials .two .title p1, .credentials .four .title p1,
        .credentials .one .title p2, .credentials .two .title p2, .credentials .four .title p2 {
            font-size: 35px;
        }
        
        .credentials .one .title p2, .credentials .two .title p2, .credentials .four .title p2 {
            margin-top:-10px;
        }

        .credentials .three .first .strip,
        .credentials .three .second .strip,
        .credentials .three .third .strip,
        .credentials .three .fourth .strip,
        .credentials .five .fifth .strip,
        .credentials .five .sixth .strip {
            flex-direction: column;
        }

        .credentials .three .first .strip .container, 
        .credentials .three .second .strip .container,
        .credentials .three .third .strip .container,
        .credentials .three .fourth .strip .container,
        .credentials .five .fifth .strip .container,
        .credentials .five .sixth .strip .container {
            width: 80%;
        }     

        .credentials .three .first .strip .container:nth-child(even), 
        .credentials .three .second .strip .container:nth-child(even),
        .credentials .three .third .strip .container:nth-child(even),
        .credentials .three .fourth .strip .container:nth-child(even),
        .credentials .five .fifth .strip .container:nth-child(even),
        .credentials .five .sixth .strip .container:nth-child(even) {
            margin-top:30px;
        }
    }

    @media screen and (max-width: 350px) {
        .credentials .one .title p1, .credentials .two .title p1, .credentials .four .title p1,
        .credentials .one .title p2, .credentials .two .title p2, .credentials .four .title p2 {
            font-size: 20px;
        }
        
        .credentials .one .title p2, .credentials .two .title p2, .credentials .four .title p2 {
            margin-top:-5px;
        }

        
        .credentials .one .content p, .credentials .two .content p, .credentials .four .content p, 
        .credentials .three .first .strip .container p,
        .credentials .three .second .strip .container p,
        .credentials .three .third .strip .container p,
        .credentials .three .fourth .strip .container p,
        .credentials .three .first .button-container a, 
        .credentials .three .second .button-container a, 
        .credentials .three .third .button-container a, 
        .credentials .three .fourth .button-container a,
        .credentials .five .fifth .strip .container p,
        .credentials .five .sixth .strip .container p,
        .credentials .five .fifth .button-container a,
        .credentials .five .sixth .button-container a {
            font-size: 12px;
        }
    }



